.menu-item{
    border: 1px solid black;
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    margin: 0 7.5px 15px;
    flex: 1 1 auto;
    background-position: center;
    background-size: cover;

    &.large{
        height: 380px;
    }

    &:first-child{
        margin-right: 7.5px;
    }

    &:last-child{
        margin-right: 7.5px;
    }

    .content{
        height: 90px;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        color: white;
        padding: 0 25px 15px;
        display: flex;
        flex-direction: column;
    }

    .title{
        margin-bottom: 6px;
        font-weight: bold;
        font-size: 22px;
    }

    .subtitle{
        font-size: 16px;
        font-weight: lighter;
    }
    

}